/*
 * PROJECT:     ReactOS Kernel
 * LICENSE:     GPL-2.0-or-later (https://spdx.org/licenses/GPL-2.0-or-later)
 * PURPOSE:     Boot Theme & Animation - Resource File
 * COPYRIGHT:   Copyright 2024 Hermès Bélusca-Maïto
 */

#include "include/resource.h"

/**
 * This file centralizes the inclusion of custom boot themes,
 * that are implemented in separate resource files.
 **/

#include "btani2k3.rc"
