/*
 * PROJECT:     ReactOS Kernel
 * LICENSE:     GPL-2.0-or-later (https://spdx.org/licenses/GPL-2.0-or-later)
 * PURPOSE:     Boot Theme & Animation - "ReactOS 2000" Resource File
 * COPYRIGHT:   Copyright 2022-2024 Hermès Bélusca-Maïto
 */

#include "include/resource.h"

/* Bitmaps */

IDB_BOOT_SCREEN     BITMAP "inbv/resources/ros2k.bmp" // IDB_BOOTIMAGE "bootimage.bmp"
IDB_HIBERNATE_BAR   BITMAP "inbv/resources/hibernate.bmp"
IDB_SHUTDOWN_MSG    BITMAP "inbv/resources/shutdown.bmp"
// IDB_BAR_DEFAULT     BITMAP "inbv/resources/barserver.bmp"
IDB_LOGO_DEFAULT    BITMAP "inbv/resources/logo.bmp"
IDB_WKSTA_HEADER    BITMAP "inbv/resources/hros2k_2.bmp" // hwksta.bmp
IDB_WKSTA_FOOTER    BITMAP "inbv/resources/fros2k_2.bmp" // fwksta.bmp
// IDB_SERVER_LOGO     BITMAP "inbv/resources/logo.bmp"
// IDB_SERVER_HEADER   BITMAP "inbv/resources/hserver.bmp"
// IDB_SERVER_FOOTER   BITMAP "inbv/resources/fserver.bmp"

/* ReactOS additions */
IDB_COPYRIGHT       BITMAP "inbv/resources/copyright.bmp"
